project_id                = "your-gcp-project-id"
region                    = "europe-west1"
bigquery_location         = "EU"
raw_dataset_id            = "iso_ne_raw"
loader_service_account_id = "dbt-bigquery-service-account"